div#main-header
    ul#nav
        li.left-side
            a#logo
                span Awesome Base
        li.right-side
            a#login(href="#")
                span 👨
        li.right-side
            a#notification(href="#")
                span 🔔
