div#editor
    h2#filename {fileName}
    div#input-container
        ContentEditable#main-input(onChange='{onChange}' html='{editView}' disable='false' spellCheck='true')
        div#preview(dangerouslySetInnerHTML={__html: preview})