.App
  margin: 0
  height: 100%

html, body, #root
  height: 100%
  margin: 0


html
  scrollbar-width: none
  overflow:   scroll

::-webkit-scrollbar

  background: transparent /* make scrollbar transparent */