#main-header
  position: fixed
  width: 100%
  z-index: 2
  height: 3%

ul#nav
  position: relative
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  background-color: #333

li.left-side
  float: left

li a
  display: block
  color: white
  text-align: center
  padding: 14px 16px
  text-decoration: none
  font-size: 1.5em

li a:hover
  background-color: #111

li.right-side
  float: right