div#editor
  margin-left: 16%
  padding-top: 4%
  width: 85%
  height: 100%

div#input-container
  display: flex
  height: 100%
  width: 100%

#main-input
  height: 100%
  width: 50%
  outline: none

#preview
  height: 100%
  width: 50%
  outline: none